allow mpdecision socket_device:dir { write add_name remove_name };
allow mpdecision system_data_file:dir { write add_name };
type_transition mpdecision socket_device:sock_file mpctl_socket;
type_transition mpdecision system_data_file:file mpctl_data_file;

# CPU hotplug uevent to manage cores
allow mpdecision self:netlink_kobject_uevent_socket { create setopt bind read };
allow mpdecision self:capability net_admin;

# Also support mpdecision creating the /dev/socket/pb socket
allow mpdecision self:capability chown;
allow mpdecision socket_device:dir w_dir_perms;
