# Dont allow untrusted apps to access MAC address
dontauditxperm untrusted_app self:udp_socket ioctl SIOCGIFHWADDR;

# For apps on sdcard
allow untrusted_app asec_public_file:file { getattr open read };
allow untrusted_app asec_public_file:dir { getattr search };
allow untrusted_app sysfs:file { getattr open read };

# TEST For apps
allow untrusted_app block_device:dir { open read };
allow untrusted_app device:dir { open read };
allow untrusted_app mnt_media_rw_file:dir getattr;
allow untrusted_app rootfs:dir { open read };
